.wrapper.svelte-1i3knku{position:relative}.top.svelte-1i3knku{position:fixed;inset:0;height:100vh;width:100%;z-index:2;pointer-events:none;transition:opacity .1s linear}.bottom.svelte-1i3knku{position:relative;z-index:1;min-height:100vh}
