.wrapper.svelte-usra8j{position:relative}.top.svelte-usra8j{position:fixed;inset:0;height:100vh;width:100%;z-index:25;pointer-events:none;transition:opacity .1s linear}.bottom.svelte-usra8j{position:relative;z-index:1;min-height:100vh}
